@media (max-width: 768px) {
  .logo_header { width: 50%; }
  .iconos_header { width: 50%; flex-direction: row; justify-content: end; }
  .loguito { width: 4.0625rem; display: flex; }
  .map_form { display: block; align-items: center; }
}
