@media (max-width: 425px) {
  .logo_header { width: 50%; }
  .iconos_header { width: 50%; }
  .loguito { width: 45px; }
  .img_index { width: 300px; }

  .h2_subtitulo { font-size: 25px; text-decoration: underline; display: flex; }
  p { font-size: smaller; }
  .mapita { width: 350px; }
}