$fuente-principal: "Montserrat", sans-serif;
$fuente-secundaria: 'Times New Roman', Times, serif;

$tamano-h1: 3.125rem;
$tamano-h2: 2.8125rem;

$color-principal: #447D9B;
$color-secundario: #FE7743;
$color-blanco: #fff;